<% layout('./layouts/boilerplate') %>

    <div class="container ">
        <div class="row d-flex justify-content-center">
            <div class="card  mt-5 col-sm-9 col-md-6">
                <div class="card-header">
                    <h1 class="text-center" id="formTitle">Create New <%= pet %></h1>
                </div>
                <form action="/pet/new/<%= pet %>" method="POST" class=" validated-form  mt-3" novalidate enctype="multipart/form-data">
                    <div class="row mb-3 ml-3 col-xs-10 col-sm-9 col-md-6">
                        <label for="petType" class="mb-3">Select the Type of Pet</label>
                        <select class="form-select" id="petSelect" name="petType" id="petType" class="mb-3">
                            <option selected id ="defaultSelect" value=""></option>
                            <% for (let i of species){ %> 
                            <option value=<%= i %> > <%= i %>  </option>
                            <% } %> 
                        </select>
                    </div>
                    <div class="hidden" id="petForm">
                        <div class="row d-flex flex-column ">
                            <div class="row mb-3 ml-3 col-xs-10 col-sm-9 col-md-6">
                                <label class="form-label" for="name">Name</label>
                                <input class="form-control" type="text" id="name" name="name" required>
                            </div>
                            <div class="row ml-3">
                                <div class="mb-3 ml-0 pl-0 col-xs-10 col-sm-9 col-md-5">
                                    <label class="form-label" for="petAge[years]">Age: years</label>
                                    <input class="form-control" type="number" min="0" max="100" id="petAge[years]" name="petAge[years]" required>
                                </div>
                                <div class="mb-3 ml-5  col-xs-10 col-sm-9 col-md-5">
                                    <label class="form-label" for="petAge[months]">months</label>
                                    <input class="form-control" type="number" min="1" max="12" id="petAge[months]" name="petAge[months]" >
                                </div>
                            </div>
                            
                            <div class="row ml-3 ">
                                <div class="mb-3 ml-0 pl-0 col-xs-10 col-sm-9 col-md-5">
                                    <!-- <label class="form-label" for="age">Weight</label> -->
                                    <input class="form-control col-4" type="number" min="0" max="100" id="weight" name="weight" placeholder="weight(kg)" required>
                                </div>
                                <div class="mb-3 ml-5  col-xs-10 col-sm-9 col-md-5">
                                    <select class="form-select" required name="gender">
                                        <option value="">Select Gender</option>
                                        <option value="M">Male</option>
                                        <option value="F">Female</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row ml-3 mb-3">
                                <div class="mb-3 ml-0 pl-0 col-xs-10 col-sm-9 col-md-5">
                                    <select class="form-select" required name="primaryBreed">
                                        <option value="">Primary Breed</option>
                                        <% petList.forEach((breed)=>{ %>
                                            <option value="<%=breed%>"><%= breed %></option>
                                        <% }) %>
                                    </select>
                                </div>
                                <div class="mb-3 ml-5  col-xs-10 col-sm-9 col-md-5">
                                    <select class="form-select" name="secondaryBreed">
                                        <option selected value="">Secondary Breed</option>
                                        <% petList.forEach((breed)=>{ %>
                                            <option value="<%=breed%>"><%= breed %></option>
                                        <% }) %>
                                    </select>
                                </div>
                            </div class="row mb-3 col-md-10 ">
                            <%for (const i in attributes){ %>
                                <% let attribute=`attributes[${i}]` %>
                                <div class="col ml-3 mb-2">
                                    <span><%= attributes[i] %></span>
                                </div>
                                <div class="col ml-4 form-check">
                                    <input class="form-check-input" type="radio" name=<%=attribute %> id="<%= i %>1" value="true" required>
                                    <label class="form-check-label" for="<%= i %>1">Yes</label>
                                </div>
                                <div class="col ml-4 mb-2 form-check">
                                    <input class="form-check-input" type="radio" name=<%=attribute %> id="<%= i %>2" value="false" required>
                                    <label class="form-check-label" for="<%= i %>2">No</label>
                                </div>
                            <% } %>
                                <div>
                                </div>
                                <div class="col-md-10 ml-3 mb-3 mt-3">
                                    <label for="medicalIssues" class="form-label">List any medical issues your <%= pet %> may have if any</label>
                                    <textarea class="form-control" id="medicalIssues" rows="3" name="medicalIssues"></textarea>
                                </div>
                                <div class="col-md-10 ml-3 mb-3 ">
                                    <label for="description" class="form-label is-invalid">Give a brief description</label>
                                    <textarea class="form-control" id="description" rows="3" name="description" required></textarea>
                                </div>
                        </div>
                        <div class="row mb-3 ml-3 mr-3">
                            <div class="form-file custom-file">
                                <input type="file" class="form-file-input" id="image" name="image" required>
                                <label class="form-file-label" for="image">
                                    <span class="form-file-text custom-file-label">Choose image</span>
                                    <span class="form-file-button">Browse</span>
                                </label>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center">
                            <button type="submit" class="btn btn-success m-3 col-lg-2 col-3">Submit</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/scripts/petSelect.js"></script>