<% layout('./layouts/boilerplate') %>

    <div
        class="container-fluid mr-0 ml-0 pl-0 pr-0 border-left-0 border-right-0 navigation-container align-items-center">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <div class="btn-group dropend">
                    <button class="nav-link active hidden dropdown-toggle" id="offCanvasButton" data-bs-toggle="offcanvas" href="#offcanvasform" role="button" aria-controls="offcanvasExample" aria-current="page" href="#">Search Filters</button>
                </div>
            </li>
            <li class="nav-item dropdown" id="pet-distance-bar">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                    aria-expanded="false">Species</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item species-select" href="#">Dog</a></li>
                    <li><a class="dropdown-item species-select" href="#">Cat</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                    aria-expanded="false">Distance</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item distance-select" href="#">5</a></li>
                    <li><a class="dropdown-item distance-select" href="#">10</a></li>
                    <li><a class="dropdown-item distance-select" href="#">25</a></li>
                    <li><a class="dropdown-item distance-select" href="#">50</a></li>
                    <li><a class="dropdown-item distance-select" href="#">100</a></li>
                    <li><a class="dropdown-item distance-select" href="#">Anywhere</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <!-- Hidden form which sends location and pet species type to the server -->
    <div class="hidden">
        <form action="/pet/search" method="GET">
            <div>
                <select name="species" id="selectedSpecies" class="form-select form-select-lg color-select border-right-0 border-top-0 shadow-none" required>
                    <% species.forEach(petSpecies=>{ %>
                        <option value="<%= petSpecies %>" <%=petSpecies===pet.species? 'selected' :'' %>><%= petSpecies%>
                        </option>
                        <% }) %>
                </select>
            </div>
            <div class="col-2 ml-0 pl-0 border-left-0">
                <select name="distance" id="distance" class="form-select form-select-lg color-select border-left-0  border-top-0 shadow-none">
                    <% distanceValues.forEach(dist=>{ %>
                        <option value="<%= dist %>" <%=dist===distance? 'selected' :'' %>> <%= dist===20000? 'Anywhere'
                                :dist %>
                        </option>
                        <% }) %>
                </select>
            </div>
            <div>
                <input type="hidden" name="location[latitude]" class="latitude" value="">
                <input type="hidden" name="location[longitude]" class="longitude" value="">
                <input type="hidden" name="paginationOffset" value= "0">

                <button type="submit" id="searchButton3" class="btn btn-success m-3 hidden">Search</button>
            </div>
        </form>
    </div>

    <main id="searchPageMain">
        <div class="" tabindex="-1" id="offcanvasform" aria-labelledby="offcanvasExampleLabel"> <!-- offcanvas offcanvas-start -->
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasExampleLabel">Search Filters</h5>
              <button type="button" id="off-canvas-x"  class="btn-close text-reset hidden" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
    
                <form action="/pet/search" class="validated-form" method="GET" novalidate id="petSearchForm">
                    <input type="hidden" name="species" value="<%= pet.species %>">
                    <input type="hidden" name="location[latitude]" class="latitude" value="">
                    <input type="hidden" name="location[longitude]" class="longitude" value="">
                    <input type="hidden" name="distance" id="hiddenDistance" value="">
                    <input type="hidden" name="paginationOffset" id="paginationOffset2" value= "<%= paginationOffset? paginationOffset:"0" %>">
                    <input type="hidden" name="totalPageCount" id="totalPageCount" value = <%=totalPageCount%> >
                    <input type="hidden" name="formValueChangeCheck" id="formValueChangeCheck" value="false"> 
                    <span>Breed</span>
                    <select class="form-select mb-3 mt-2 form-values-check" name="primaryBreed" id="primaryBreed">
                        <option value="">Primary Breed</option>
                        <% pet.breeds.forEach((breed)=>{ %>
                            <option value="<%=breed%>" <%=breed===prevFormData.primaryBreed? "selected" :"" %>><%= breed%>
                            </option>
                            <% }) %>
                    </select>
                    <select class="form-select mb-3 mt-2 form-values-check" name="secondaryBreed" id="secondaryBreed">
                        <option value="">Secondary Breed</option>
                        <% pet.breeds.forEach((breed)=>{ %>
                            <option value="<%=breed%>" <%=breed===prevFormData.secondaryBreed? "selected" :"" %>><%=
                                    breed %>
                            </option>
                            <% }) %>
                    </select>
    
                    <label class="form-label">Purebred</label>
                    <div class="row">
                        <div class="col mb-2 form-check d-flex justify-content-center">
                            <input class="form-check-input pureBred radio-check" type="radio" name="pureBred" id="pureBredTrue"
                                value="true">
                            <label class="form-check-label font-weight-normal" for="pureBredTrue">Yes</label>
                        </div>
                        <div class="col ml-2 mb-2 form-check d-flex justify-content-center">
                            <input class="form-check-input pureBred radio-check" type="radio" name="pureBred" id="pureBredFalse"
                                value="false">
                            <label class="form-check-label font-weight-normal" for="pureBredFalse">No</label>
                        </div>
                        <input type="hidden" name="hiddenRadioSelect" id="hiddenRadioSelect"
                            value=<%=(prevFormData.pureBred)? prevFormData.pureBred==='true' ? 'true' :'false' : '' %>>
                        <div class="col  mb-2">
                            <button class="btn btn-secondary btn-sm" id="resetPureBred" type="button"> Reset</button>
                        </div>
                    </div>
    
                    <label class="form-label" for="minAge">Age (years)</label>
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="mb-3 col">
                            <input id="minAge" name="minAge" class="form-control form-values-check" type="number" min="0" max="100"
                                placeholder="Min" value=<%=prevFormData.minAge %>>
                        </div>
                        <div class="mb-3 col-1  pl-0 pr-0 font-weight-normal d-flex justify-content-center"><span>to</span></div>
                        <div class="mb-3 col">
                            <input id="maxAge" name="maxAge" class="form-control form-values-check" type="number" min="0" max="100"
                                placeholder="Max" value=<%=prevFormData.maxAge %>>
                        </div>
                    </div>
    
                    <label class="form-label" for="minWeight">Weight (kg)</label>
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="mb-3 col">
                            <input id="minWeight" name="minWeight" class="form-control form-values-check" type="number" min="0" max="200"
                                placeholder="Min" value=<%=prevFormData.minWeight%>>
                        </div>
                        <div class="mb-3 col-1  pl-0 pr-0 font-weight-normal d-flex justify-content-center"><span>to</span></div>
                        <div class="mb-3 col">
                            <input id="maxWeight" name="maxWeight" class="form-control form-values-check" type="number" min="0" max="200"
                                placeholder="Max" value=<%=prevFormData.maxWeight %>>
                        </div>
                    </div>
    
                    <div class="row d-flex justify-content-center">
                        <button type="submit" id="searchButton2" class="btn btn-success m-3 col-4">Search</button>
                    </div>
                </form>
    
            </div>
          </div>

          <div id="cards-pagination">

            <div class="pet-cards col-8">
                <% for (let foundPet of pets){ %>
                    <div class="card pet-card text-center" id="<%= foundPet._id %>">
                        <div class="card-image-container">
                            <img class="card-img-top autofit" src="<%= foundPet.image.url %>" alt="Pet photo">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><b>
                                    <%= foundPet.name[0].toUpperCase()+foundPet.name.slice(1) %>
                                </b></h5>
                            <p class="card-text">
                                <%= foundPet.age.years!==0? `${foundPet.age.years} years, `: `${foundPet.age.months}
                                    months, ` %>
                                    <%= foundPet.breeds.primary %>
                                        <%= foundPet.breeds.mixed? ` & ${foundPet.breeds.secondary}`:"" %>
                            </p>
                            <p class="card-distance">
                                <%= `${parseInt(foundPet.distance)} km away` %>
                            </p>
                            <span id="petId" class="hidden"> </span>
                        </div>
                    </div>
                    <% } %>
            </div>
            <div class="pagination-navigation">
                <nav aria-label="pet results pages">
                    <ul class="pagination">
                      <li class="page-item" id="goToPreviousPage">
                        <a class="page-link" href="#">Previous</a>
                      </li>
                      <li class="page-item page-item-numbers"><a class="page-link" href="#">1</a></li>
                      <li class="page-item page-item-numbers"><a class="page-link" href="#">2</a></li>
                      <li class="page-item page-item-numbers"><a class="page-link" href="#">3</a></li>
                      <li class="page-item page-item-numbers"><a class="page-link" href="#">4</a></li>
                      <li class="page-item page-item-numbers"><a class="page-link" href="#">5</a></li>
                      <li class="page-item" id="goToNextPage">
                        <a class="page-link" href="#">Next</a>
                      </li>
                    </ul>
                  </nav>
            </div>

          </div>
          
    </main>
    
    <script src="/scripts/petSearchPage/petSearch.js"></script>
    <script src="/scripts/petSearchPage/pagination.js"></script>
    <script src="/scripts/petSearchPage/searchForm.js"></script>