<% layout('./layouts/boilerplate') %> 

<div class="container">
    <div class="card-header mt-3">
        <h1 class="text-center mt-2 mb-5">Your Pets</h1>
        <div class="row d-flex flex-row justify-content-evenly">
            <% for (const[index,pet] of pets.entries()){ %> 
                <div class="card col-xs-10 col-md-5 mt-3 mb-3 ml-2 mr-2">

                    <img src="<%= pet.image.url%>" class="d-block w-100" alt="">

                    <div class="card-body">
                      <h5 class="card-title">Pet <%= index+1  %> </h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>Species: </b><%= pet.species %></li>
                        <li class="list-group-item"><b>Name: </b><%= pet.name %></li>
                        <li class="list-group-item"><b>Gender: </b><%= pet.gender==='M'?'Male':'Female' %></li>
                        <li class="list-group-item"><b>Age: </b><%= pet.age %></li>
                        <li class="list-group-item"><b>Weight(in kg): </b><%= pet.weight %></li>
                        <li class="list-group-item"><b>Primary Breed: </b><%= pet.breeds.primary %></li>
                        <% if (pet.breeds.secondary){ %> 
                            <li class="list-group-item"><b>Secondary Breed: </b><%= pet.breeds.secondary %></li>
                        <% } %>
    
                    </ul>
                    <div class="card-body">
                        <h5><b>Description</b></h5>
                        <%= pet.description %> 
                    </div>
                    <% if (pet.medicalIssues){ %>
                        <div class="card-body">
                            <h5><b>Medical Issues</b></h5>
                            <%= pet.medicalIssues %> 
                        </div>
                    <% } %>  
                    <div class="card-body">
                        <form action="/user/pets?_method=DELETE" method="post">
                            <button class="btn btn-danger" name="petId" value="<%= pet._id %>">Delete</button>
                        </form>
                    </div>
                  </div>
            <% } %> 
        </div>
        
    </div>
</div>
